@charset "UTF-8";



.tela{
    max-width: 350px;
    min-width: 250px;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    background-color:#192a56;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}
.titulo{
    margin-top: 20px;
    color: #0984e3;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1rem;
}
#sombra{
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 6px 20px rgba(0, 0, 0, 0.15);
}
#sombra:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 
    0 12px 30px rgba(0, 0, 0, 0.25);
}

#botao{
    padding-top: 30px;
    color: white;
    background-color: #00cec9;
    border:none;
    padding: 5px;
    margin:auto;
    margin-top: 15px;
    width: 100px;
    border-radius:5px;
    text-transform: uppercase;
    font-weight: bold;
}
#botao:hover{
    background-color:#0984e3;
}
#resultado,#indicador{
    color:#0984e3;
    max-width: 300px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: larger;
}
