body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.login-container {
    background-color: #fff;
    display: flex;
    justify-content:space-around;
    width: 50%;
    align-items: center;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
p{
    text-align: center;
    font-family: sans-serif;
    color:#494BF5;
    font-weight: bolder;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


button {
    width: 100%;
    padding: 10px;
    margin:10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    
}

button:hover {
    background-color:#2ecc71;
}

.box-imgLogin{
    width: 300px;
    height: auto;

}

.img-login{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

/* Para telas menores que 768px (tablets e dispositivos móveis) */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 90%;
        box-sizing: border-box;
    }
    .img-login{
        max-width: 100px;
        height: auto;
        margin: auto;
    }

    .box-imgLogin img {
        width: 100%;
        height: auto;
    }

}

/* Para telas menores que 480px (smartphones) */
@media (max-width: 480px) {
    .login-container {
        flex-direction: column;
        width: 90%;
        box-sizing: border-box;
    }
    .img-login{
        max-width: 100px;
        height: auto;
        margin: auto;
    }

    .box-imgLogin img {
        width: 100%;
        height: auto;
    }

}
